<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OTP Verification</title>
  </head>
  <body>
    <form  method='get' action="/final"> 
   <input type="number" id="OTP" min=4 max=4 value='12345'>
   <input type="submit" id="submitDetails" name="Verify OTP" value="Submit" /><br>
    </form>
  </body>
</html>