<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mobile Verification</title>
  </head>
  <body>
  <form  method='get' action="/register"> 
  <div>
    <input type="tel" id="tel" name="tel" pattern="[0-9]{10}"required>
     <small>Format: 1234567890</small>
  </div>

  <div>
    <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br> 
  </div>
</form>
  
  </body>
</html>